@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #53504D;
    --background-secondary-color: #3F3D3C;
    --text-color: #F5F5F5;
}

html, body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.card {
    background-color: var(--background-secondary-color);
    @apply rounded-sm;
}

.card:not(:has(.no-padding)) {
    padding: 1rem;
}

.button {
    background-color: #53504D;
    background-opacity: 0.5;
    @apply px-2 py-1 rounded-sm;
}