@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@font-face {
    font-family: 'Rust';
    src: url('/Rust.otf') format('opentype');
}

html, body {
    @apply bg-tertiary text-primary;
    font-family: 'Rust', sans-serif;
    letter-spacing: 0.06em;
}

.card {
    @apply rounded-sm bg-secondary;
}

.card:not(:has(.no-padding)) {
    padding: 1rem;
}

.button {
    @apply px-2 py-1 rounded-sm bg-primary text-primary hover:bg-tertiary hover:text-primary;
}
.button:disabled {
    @apply bg-primary text-secondary line-through cursor-not-allowed;
}

.button-rust {
    @apply bg-rust text-primary hover:bg-rust-active active:brightness-125;
}

input.input {
    @apply px-2.5 py-1 rounded-sm bg-primary text-secondary outline-accent hover:border-none outline-offset-4 max-w-full;
}

@keyframes zoom {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
